* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1f1f1f;
    line-height: 24px;
}

.img-container{
    display: flex;
    flex-direction: column;
}

img{
    align-self: center;
 
}



.body-content{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.content{
    width: 410px;
}

.content p{
    margin-top: 10px;
}

.desc{
    margin-bottom: 20px;
    font-size: larger;
}


.number{
    font-weight: bolder;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
}

.message-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.contact{
    margin-top: 20px;
    line-height: 24px;
}

.name-contact{
    font-weight: bold;
}

